@import url("https://fonts.googleapis.com/css2?family=Russo+One&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

:root {
  --Cor_1: #ffffff;
  --Cor_2: #000000;
  --Cor_3: #9370db;
  --Cor_4: #6a0dad;
  --Cor_5: #8a2be2;
  --Cor_6: #1a151b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--Cor_6);
}

/* ====================== Navegação ====================== */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  background-color: var(--Cor_6);
}

.nav-bar img {
  width: 150px;
}

.navigation {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem;
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  padding: 0;
  margin: 0;
}

.navigation a {
  color: var(--Cor_1);
  font-size: 16px;
  cursor: pointer;
  font-weight: bolder;
  position: relative;
  text-decoration: none; /* remove o underline padrão */
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--Cor_1);
  transition: all 0.4s ease;
  transform: translateX(-50%);
}

.navigation a:hover::after {
  width: 100%;
}

.login {
  display: flex;
  gap: 4rem;
}

.login a {
  color: var(--Cor_1);
  font-size: 16px;
  cursor: pointer;
  border: 2px solid var(--Cor_1);
  border-radius: 20px;
  padding: 15px 30px;
  font-weight: bolder;
}

.login a:hover {
  background-color: var(--Cor_1);
  color: var(--Cor_6);
  transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out,
    transform 0.3s ease-in-out;
}

/* ====================== Banner ====================== */

.banner-container {
  position: relative;
  overflow: hidden;
  background-color: #000;
}

.banners {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.banner {
  min-width: 100%;
  position: relative;
}

.banner img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  filter: brightness(0.6);
  display: block;
}

.banner h2 {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 800px;
  transform: translateX(-50%);
  font-size: 64px;
  text-transform: uppercase;
  color: white;
}

.logo-indicators {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

.logo-indicator {
  width: 60px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s;
}

.logo-indicator.active {
  opacity: 1;
  transform: scale(1.2);
}

/* ====================== Expriencia ====================== */

.experience {
  display: flex;
  margin: 10rem 6rem;
  gap: 10rem;
  align-items: center;
  justify-content: center;
}

.experience-text {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 50%;
  flex: 1;
  padding: 2rem;
}

.experience-text h2 {
  font-size: 40px;
  text-transform: uppercase;
  color: var(--Cor_3);
}

.logo-experience {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  opacity: 10%;
}

.line {
  display: block;
  width: 100px;
  height: 9px;
  background-color: var(--Cor_3);
  position: absolute;
  left: 35px;
  top: 90px;
  z-index: 1;
}

.experience-text {
  display: flex;
  align-items: flex-start;
}

.experience-text p {
  font-size: 20px;
  color: var(--Cor_1);
  width: 450PX;
}

.experience-text a {
  display: inline-block;
  padding: 15px 30px;
  margin: 0; /* garante sem margem lateral */
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--Cor_2);
  border: 3px solid transparent;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.6s ease-in-out, border 0.6s ease-in-out;
}



.experience-text a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    #6a0dad 0%,
    #7f3fc4 24%,
    #9370db 52%,
    #7f3fc4 79%,
    #6a0dad 100%
  );
  z-index: -1;
  transition: opacity 0.6s ease-in-out;
}

.experience-text a:hover {
  color: var(--Cor_1);
  border: 3px solid var(--Cor_1);
}

.experience-text a:hover::before {
  opacity: 0;
}

/* ====================== Imagem ====================== */

.experience-image {
  display: flex;
  flex: 1;
  position: relative;
  padding: 5rem;
}

.experience-image .image-xp {
  width: 80%;
}

.experience-image .triangle {
  position: absolute;
  width: 50%;
  top: 0;
  right: 3.5rem;
  z-index: -1;
}

.experience-image .circle {
  position: absolute;
  width: 50%;
  bottom: 0;
  left: -5rem;
  z-index: -1;
}

/* ====================== Musica ====================== */

.music-connection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/Foto\ \(2\).png");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  background-position: center;
  height: 60vh;
  position: relative;
}

.music-connection-image {
  display: flex;
  flex: 1;
}

.music-connection-text {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
}

.music-connection-text .square {
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  z-index: 1;
}